{% extends 'layout.html' %}

{% block title %} Change your password {% endblock %}

{% block body %}

<section class="login-section container">
    <h1>You can change your password if you want</h1>
    <!-- <p></p> -->
    <form action="{{ url_for('change_password') }}" method="POST">
        <input type="email" name="email" placeholder="Email address" class="form-control">
        <input type="password" name="old-password" placeholder="Current password" class="form-control">
        <input type="password" name="new-password" placeholder="New password" class="form-control">
        <input type="password" name="new-password-confirmation" placeholder="New password confirmation" class="form-control">
        <input type="submit" value="CHANGE PASSWORD" class="button button-small btn-gold">
    </form>
</section>

{% endblock %}