<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/navbar.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="../static/images/english-inmersion-logo.png" alt="Logo English Inmersion"></a>
            <ul class="login-signup">
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Sign Up</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>