:root {
    --primary-color: #191F75;
    --secondary-color: #C8B400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

img {
    max-width: 100%;
}

/* Changing Bootstrap container */
.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* text-styles */

h1 {
    font-size: 1.5rem !important;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 12px;
    font-size: 1.4rem !important;
    font-weight: 500;
    color: var(--primary-color)
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 10px 0;
    font-size: 1.2rem !important;
    font-weight: 400;
}

p, li {
    font-size: 1.125rem;
    line-height: 1.7;
}

nav {
    background-color: var(--primary-color);
    text-align: center;
}

nav div.logout p {
    color: white;
    margin: 10px 0;
}

nav .navbar-nav a.button.btn-white[href="/login"],
nav .navbar-nav a.button.btn-white[href="/sign-up"],
nav .navbar-nav a.button.btn-white[href="/logout"] {
    color: var(--primary-color);
    font-size: 1.125rem;
}

.search-logout {
    display: flex;
    flex-direction: column-reverse;
}

.logout {
    margin-bottom: 8px;
}

p.flash {
    padding: 8px 10px;
    text-align: center;
    margin-bottom: unset;
}

.flash.info {
    background-color: #ffe38f;
}

.popup-wrapper {
    display: none;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80vw;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: white;
}

.popup-header {
    display: flex;
    justify-content: space-between;
}

.popup-wrapper .popup-header span {
    width: 24px;
    height: 24px;
}

.wrapper-overlay{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(5 8 38 / 60%);
}

.modal-top {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 8px;
    background-color: #ffff50;
}

.modal-top p {
    margin-bottom: 0;
    padding: 0 8px 8px 8px;
}

/* Home Page */

.home-hero {
    height: 70vh;
    padding: 8px 0;
    background-image: url("../static/images/big-city.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}

.hero-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
}

.home-hero::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(5 8 38 / 60%)
}

.home-hero h1 {
    position: relative;
    color: white;
}

.home-hero p{
    position: relative;
    color: white;
}

.home-hero p span {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
}

section.what-is img {
    content: url("../static/images/results_screenshot_mobile.jpg");
    max-width: 300px;
    margin: 0 0 16px 0px;
    border-radius: 8px;
    box-shadow: 0 0 8px 1px gray;
}

.why, .motivation, .what-is {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
}

.button.button-small {
    padding: 6px;
    font-size: 1.125rem;
}

.btn-gold {
    background-color: var(--secondary-color);
    color: white;
}

.btn-orange {
    background-color: #C88400;
    color: white;
}

.btn-white {
    background-color: white;
    color: var(--primary-color);
}

.why {
    background-color: #fafafa;
}

.motivation {
    padding-top: 20px;
    padding-bottom: 20px;
}

.motivation-phrase {
    color: var(--primary-color);
    font-style: italic;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
}


footer p {
    font-size: 1rem;
    margin: 0;
}

/* LOGIN page */

.login-section input[type="email"] {
    margin-bottom: 8px;
}

.login-section .form-link {
    display: block;
    margin-bottom: 8px;
    text-align: right;
    text-decoration: none;
    font-size: 0.9rem;
}

.or-option {
    margin: 30px 0;
    text-align: center;
    color: var(--primary-color);
}

.register-section .form-link {
    display: block;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
}

.register-section input {
    margin-bottom: 8px;
}

.register-section input:last-of-type {
    margin-bottom: none;
}

/* Users Progress page */
table {
    width: 100%;
    border: 1px solid var(--primary-color);
    text-align: center;
}

tr {
    padding: 5px;
    border: 1px solid var(--primary-color);
}

th {
    font-weight: bold;
}

td, th {
    width: 33%;
    border: 1px solid var(--primary-color);
    padding: 3px;
}

/* Results page */

.results h1{
    letter-spacing: 1.1;
}

.results h1 span {
    color: var(--secondary-color);
}

h3.list_lexical-entry span,
h3.results_lexical-entry span {
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1.1px;
    font-style: italic;
}

h3.list_lexical-entry::after,
h3.results_lexical-entry::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    background-color: var(--secondary-color);
}

.results.material-icons-outlined {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: var(--primary-color);
}

li.list_example,
li.results_example
li.test_example {
    font-size: 1.1rem;
}

span.division {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 5px 0 10px 0;
    background-color: #e7e7e7;
}

span.division:last-of-type {
    display: none;
}

.results_lemmas {
    display: flex;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #ffe38f;
}

.results_lemmas h3 {
    text-align: center;
}

.results_lemmas h3 a {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: var(--primary-color);
} 

.results_lemmas h3 a span {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1.1px;
}


/* User list */
/* This page have similar styles than results page, so some styles can be modified from that section */

.list .words-not-learned h2,
.list .words-learned h2 {
    margin-top: 10px;
}

.list p.list_date {
    margin-bottom: 6px;
    font-size: 1rem;
    font-style: italic;
}

p.list_date span {
    vertical-align: text-bottom;
    margin-right: 5px;
}

p.list_date.learned span {
    color: green;
}

p.list_date.not-learned span {
    color: red;
}

/* Test page */

.answer {
    text-align: center;
    font-style: italic;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}